// Body

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$colorJapan: #f6ebd2;
$cardColor: #FAF7F3;

//card
$box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);


//card adjustment
$image-height: 100px;
$title-font-size: 12px;