@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #f6ebd2;
}

.carousel-item img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.border {
    border-style: solid;
}

#categories {
    padding: 60px;
}


.card-wrapper {
    background-color: #f8f9fa;
    /* Abu-abu terang */
    border: 1px solid #e0e0e0;
    /* Border halus */
    border-radius: 8px;
    /* Sudut sedikit melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Bayangan lembut untuk kedalaman */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    /* Animasi saat hover */
}

.card-wrapper:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* Bayangan lebih kuat saat hover */
    transform: translateY(-5px);
    /* Efek naik sedikit */
}

.menu {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Text-Cat {
    font-family: 'Bubblegum Sans', cursive;
}

.card-text {
    font-family: 'Bubblegum Sans', cursive;
}

#login {
    height: 100vh;
    /* Supaya full height sesuai layar */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6EBD2;
    /* Warna krem lembut sesuai yang diinginkan */
}

.login-box {
    width: 400px;
    /* Perbesar card */
    padding: 30px;
    /* Tambahkan padding untuk tampilan yang lebih lega */
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    /* Tambahkan efek bayangan */
    background-color: FAF7F3;
    /* Background putih untuk card */
}

.cardtext {
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;

}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Spasi antar elemen */
}

.form-floating {
    width: 100%;
}

.btn {
    margin-top: 20px;
    /* Tambahkan margin atas untuk tombol */
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}